@import 'mixins';
@import 'variables';
@import 'styles/fonts/roboto';
@import 'styles/fonts/roboto-mono';
@import 'styles/fonts/montserrat';

@import 'reset';
@import 'basics';
@import 'containers';
@import 'lists';
@import 'modal';
@import 'footer';
@import 'compact_header';
@import 'widgets';
@import 'forms';
@import 'accounts';
@import 'stream_entries';
@import 'components/index';
@import 'polls';
@import 'about';
@import 'tables';
@import 'admin';
@import 'accessibility';
@import 'rtl';
@import 'dashboard';

@media (min-width: 1200px)
  {
    .drawer {
        width: 300px;
  }

  .column
  {
    width: calc((100% - 300px) / 3);
  }
}
