- content_for :header_tags do
  = preload_link_tag asset_pack_path('features/getting_started.js'), crossorigin: 'anonymous'
  = preload_link_tag asset_pack_path('features/compose.js'), crossorigin: 'anonymous'
  = preload_link_tag asset_pack_path('features/home_timeline.js'), crossorigin: 'anonymous'
  = preload_link_tag asset_pack_path('features/notifications.js'), crossorigin: 'anonymous'

  %meta{name: 'applicationServerKey', content: Rails.configuration.x.vapid_public_key}
  %script#initial-state{ type: 'application/json' }!= json_escape(@initial_state_json)

.app-holder#mastodon{ data: { props: Oj.dump(default_props) } }
  %noscript
    = image_pack_tag 'logo.svg', alt: 'Sinblr'

    %div
      = t('errors.noscript_html', apps_path: 'https://sinblr.com/@sinblr/102372560413270750')
