- content_for :page_title do
  = site_hostname

- content_for :header_tags do
  %link{ rel: 'canonical', href: about_url }/
  = render partial: 'shared/og'

.landing
  .landing__brand
    = link_to root_url, class: 'brand' do
      = svg_logo_full
      %span.brand__tagline=t 'about.tagline'

  .landing__grid
    .landing__grid__column.landing__grid__column-registration
      .box-widget
        = render 'registration'

      .directory
        - if Setting.profile_directory
          .directory__tag
            = optional_link_to Setting.profile_directory, explore_path do
              %h4
                = fa_icon 'address-book fw'
                = t('about.discover_users')
                %small= t('about.browse_directory')

              .avatar-stack
                - @instance_presenter.sample_accounts.each do |account|
                  = image_tag current_account&.user&.setting_auto_play_gif ? account.avatar_original_url : account.avatar_static_url, width: 48, height: 48, alt: '', class: 'account__avatar'

        - if Setting.timeline_preview
          .directory__tag
            = optional_link_to Setting.timeline_preview, public_timeline_path do
              %h4
                = fa_icon 'globe fw'
                = t('about.see_whats_happening')
                %small= t('about.browse_public_posts')

        .directory__tag
          = link_to 'https://sinblr.com/@sinblr/102372560413270750', target: '_blank', rel: 'noopener' do
            %h4
              = fa_icon 'tablet fw'
              = t('about.get_apps')
              %small= t('about.apps_platforms')

    .landing__grid__column.landing__grid__column-login
      .box-widget
        = render 'login'

      .hero-widget
        .hero-widget__img
          = image_tag @instance_presenter.hero&.file&.url || @instance_presenter.thumbnail&.file&.url || asset_pack_path('media/images/preview.jpg'), alt: @instance_presenter.site_title

        - if @instance_presenter.site_short_description.present?
          .hero-widget__text
            %p
              = @instance_presenter.site_short_description.html_safe.presence
              = link_to about_more_path do
                = t('about.learn_more')
                = fa_icon 'angle-double-right'

        .hero-widget__footer
          .hero-widget__footer__column
            %h4= t 'about.administered_by'

            = account_link_to @instance_presenter.contact_account

          .hero-widget__footer__column
            %h4= t 'about.server_stats'

            %div{ style: 'display: flex' }
              .hero-widget__counter{ style: 'width: 50%' }
                %strong= number_to_human @instance_presenter.user_count, strip_insignificant_zeros: true
                %span= t 'about.user_count_after', count: @instance_presenter.user_count
              .hero-widget__counter{ style: 'width: 50%' }
                %strong= number_to_human @instance_presenter.active_user_count, strip_insignificant_zeros: true
                %span
                  = t 'about.active_count_after'
                  %abbr{ title: t('about.active_footnote') } *
