- content_for :content do
  .public-layout
    - unless @hide_navbar
      .container
        %nav.header
          .nav-left
            = link_to root_url, class: 'brand' do
              = svg_logo_full

            = link_to t('directories.directory'), explore_path, class: 'nav-link optional' if Setting.profile_directory
            = link_to t('about.about_this'), about_more_path, class: 'nav-link optional'
            = link_to t('about.apps'), 'https://sinblr.com/@sinblr/102372560413270750', class: 'nav-link optional'
          .nav-center
          .nav-right
            - if user_signed_in?
              = link_to t('settings.back'), root_url, class: 'nav-link nav-button webapp-btn'
            - else
              = link_to t('auth.login'), new_user_session_path, class: 'webapp-btn nav-link nav-button'
              = link_to t('auth.register'), available_sign_up_path, class: 'webapp-btn nav-link nav-button'

    .container= yield

    .container
      .footer
        .grid
          .column-0
            %h4= t 'footer.resources'
            %ul
              %li= link_to t('about.terms'), terms_path
              %li= link_to t('about.privacy_policy'), terms_path
          .column-1
            %h4= t 'footer.developers'
            %ul
              %li= link_to t('about.documentation'), 'https://github.com/sinblr-com/sinblr/wiki'
              %li= link_to t('about.api'), 'https://sinblr.com/api/guidelines/'
          .column-2
            %h4= link_to t('about.what_is_mastodon'), 'https://sinblr.com/about/more/'
            = link_to svg_logo, root_url, class: 'brand'
          .column-3
            %h4= site_hostname
            %ul
              %li= link_to t('about.about_this'), about_more_path
              %li= "v#{Mastodon::Version.to_s}"
          .column-4
            %h4= t 'footer.more'
            %ul
              %li= link_to t('about.source_code'), Mastodon::Version.source_url
              %li= link_to t('about.apps'), 'https://sinblr.com/@sinblr/102372560413270750'

= render template: 'layouts/application'
